{% extends "layout.html" %}
{% block content %}
<h1>Admin Dashboard</h1>
<h3>Manage Questions and Quiz Sets</h3>
<ul>
    <li><a href="{{ url_for('main.add_question') }}">Add Question</a></li>
    <li><a href="{{ url_for('main.add_quiz_set') }}">Add Quiz Set</a></li>
</ul>

<h3>Review Student Progress</h3>
<ul>
    {% for student in students %}
    <li>
        <a href="{{ url_for('main.review_student', student_id=student.id) }}">{{ student.username }}</a>
        - Completed Quizzes: {{ student.completed_quizzes_count }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
